.content {
    margin: 24px 0;
    width: 100%;
    min-height: calc(100vh - 750px);
    &--container {
        margin: 0 20px;
        width: 100%;
        @include notebook {
            margin: 0 auto;
            width: 981px;
        }
        @include desktop {
            margin: 0 auto;
            width: 1238px;
        }
        h2 {
            margin: 14px 0 20px 0;
            font-size: 1.714em;
            font-weight: 700;
        }
    }
}