.heading {
    width: 100%;
    background-color: $dark-white-color;
    &--text {
        padding: 30px 30px;
        font-size: 1.714em;
        text-align: center;
        font-weight: 700;
    }
}