.loading {
    width: 100vw;
    height: 100vh;
    background-color: $dark-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 70px;
    }
}