.search {
    width: 100%;
    background-color: $dark-white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &--form {
        margin: 0 24px;
        padding: 17px 20px;
        width: 100%;
        height: 70px;
        background-color: $custom-white-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include notebook {
            width: 981px;
        }
        @include desktop {
            width: 1238px;
        }
        button {
            cursor: pointer;
            outline: none;
            border: 0;
            background: none;
            i {
                padding-right: 14px;
                font-size: 1.5em;
            }
        }
        input {
            outline: none;
            width: 100%;
            height: 35px;
            border: 0;
            font-family: "Raleway", sans-serif;
            font-size: 1.143em;
            font-weight: 700;
            line-height: 14px;
            &::placeholder {
                color: $custom-black-color;
            }
        }
        ul {
            top: 50px;
            left: 0;
            padding: 0 20px;
            width: 100%;
            position: absolute;
            li {
                padding: 10px;
                width: 100%;
                height: 48px;
                background-color: $custom-white-color;
                border: 1px solid $tranparent-gray-color;
                border-radius: 4px;
                color: $custom-black-color;;
                font-size: 1.143em;
                font-weight: 700;
                line-height: 14px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $custom-blue-color;
                }
                img {
                    padding-right: 10px;
                }
            }
        }
    }
}