.shop {
    margin: 24px 0;
    width: 100%;
    min-height: calc(100vh - 750px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &--container {
        margin: 0 20px;
        width: 100%;
        @include notebook {
            width: 981px;
        }
        @include desktop {
            width: 1238px;
        }
        h2 {
            margin: 14px 0 20px 0;
            font-size: 1.714em;
            font-weight: 700;
        }
        &__shop {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            &-info {
                margin-right: 10px;
                width: calc(33.3% - 10px);
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $tranparent-gray-color-hr;
                    display: block;
                }
                div {
                    width: 100%;
                    margin-bottom: 26px;
                    height: 112px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h3 {
                    margin-bottom: 20px;
                    font-size: 1.286em;  
                }
            }
            &-vouchers {
                width: 66.6%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                div {
                    margin: 10px;
                    margin-bottom: 26px;
                    width: calc(50% - 20px);
                    height: 112px;
                    border: 1px solid $tranparent-gray-color;
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                h3 {
                    margin-bottom: 20px;
                    font-size: 1.286em;  
                }
            }
        }
    }
}