.top {
    margin: 24px 0;
    width: 100%;
    min-height: calc(100vh - 750px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &--container {
        margin: 0 20px;
        width: 100%;
        @include notebook {
            width: 981px;
        }
        @include desktop {
            width: 1238px;
        }
        h2 {
            margin: 14px 0 20px 0;
            font-size: 1.714em;
            font-weight: 700;
        }
    }
}