$custom-white-color: #fff;

$custom-gray-color: #f2f4f5;
$tranparent-gray-color: rgba(157, 157, 157, 0.3);

$custom-black-color: #000;


$custom-blue-color: #23e5db;
$dark-blue-color: #002f34;
$transparent-blue-color: rgba(0,0,0,0.2);