$custom-white-color: #fff;
$dark-white-color: #f2f4f5;

$custom-black-color: #000;

$custom-gray-color: #7f9799;
$dark-gray-color: #524962;
$tranparent-gray-color: rgba(157, 157, 157, 0.3);
$tranparent-gray-color-hr: rgba(82, 73, 98, 0.2);

$custom-blue-color: #23e5db;
$dark-blue-color: #002f34;
$transparent-blue-color: rgba(0,0,0,0.2);